torch == 1.7.1
torch_vision == 0.8.2
numpy == 1.18.1
scikit-learn == 0.24.1
pandas == 1.1.1
nltk==3.4.5
beautifulsoup4==4.8.2
spacy==2.2.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz#egg=en_core_web_sm